
#ignoring all node modules files 
node_modules/
src/infrastructure/node_modules
src/frontend/node_modules
volume/*

# ignore all pycache 
**/__pycache__/
*.py[cod]
*$py.class

# ignore auth log
*.log
src/frontend/.expo/settings.json
src/infrastructure/cdk.out.deploy/*
src/frontend/assets/images/.DS_Store
src/frontend/context/urls.tsx

.env