
#ignoring all node modules files 
node_modules/
src/infrastructure/node_modules
src/infrastructure/package-lock.json
src/frontend/node_modules
volume/*

# ignore all pycache 
__pycache__/
*.py[cod]
*$py.class
